<div class="mt-3">
  <button class="btn btn-secondary btn-lg btn-block" type="button">
    <div class="d-flex justify-content-between">
      <div>Block level button</div>
      <div class="d-flex justify-content-between">
        <button class="btn btn-primary options me-3">Add</button>
        <button class="btn btn-primary options me-3">Edit</button>
        <button class="btn btn-primary options me-3">Sort</button>
        <button class="btn btn-primary options me-3">Move</button>
        <button class="btn btn-danger options">Delete</button>
      </div>
    </div>
  </button>
</div>
